@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1  class="text-light"> DouglasRent</h1>
   <p class="text-light">Bem vindo ao DouglasRent, o melhor lugar para gerenciar seus empréstimos de livros!</p>
  <div>
      <img src="/img/book.png" />
  </div>
</div>
